:root {
  --primary-color: #678CD6;
  --secondary-color: #E8F4F9;
  --terciary-color: #FFDE80;
  --primary-highlight: #6A2062;
  --secondary-highlight: #E62D87;
  --bg-color: #fff;
}

/* Layout */
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-container {
  background-color: var(--bg-color);
  border-radius: 20px;
}

.div-intro {
  background: url("../assets/img/BG-site-01-a.jpg");
  background-repeat: repeat;
  background-color: var(--secondary-color);
  padding: 50px 0;
}

.div-intro .row {
  padding-top: 0;
}

.txt-intro {
  font-size: 18px;
  margin: 40px 0;
  padding: 20px;
}

.div-subcontratadas {
  background: url("../assets/img/BG-site-02-a.jpg");
  background-repeat: repeat;
  background-color: var(--terciary-color);
  padding: 50px 0;
}

.div-tabs {
  background: url("../assets/img/BG-site-03-a.jpg");
  background-repeat: repeat;
  background-color: var(--primary-color);
  padding: 50px 0;
}

.row {
  padding-top: 20px;
}

.intro-container {
  padding-bottom: 50px;
}

.testeira {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0;
}

.row-candidato-icon {
  justify-content: center;
}

.candidato-icon {
  width: 300px;
  height: fit-content;
}

.div-valor-total {
  color: var(--bg-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-top: 100px;
}

.row-btn-back-top {
  justify-content: end;
  margin-right: 30px;
}

.btn-back-top {
  padding-top: 10px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.bi-arrow-up {
  font-size: 30px;
}

.export-table-btn {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--bg-color);
  border-radius: 10px;
  margin-bottom: 30px;
}
